<%- include("header") -%>

<div class="box" id="heading">
  <h1>
    <%= listTitle %>
  </h1>
</div>

<div class="flex">

  <div class="box col big-box">
    

    <% newListItems.forEach(function(item) { %>
      <form action="/delete" method="POST">
        <div class="item">
          <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
          <p>
            <%= item.name %>
          </p>
        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>"></input>
      </form>
      <% }); %>

        <form class="item" action="/" method="post">
          <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
          <button type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>
  </div>

  <div class="instructions-box col small-box">

    <h3>Welcome to your to do list!</h3>
    <p>
        Hit <i class="far fa-plus-circle"></i> to add a new item.<br>

    </br>
        Hit <i class="fal fa-square"></i> to delete an item.<br>
    
    </p>

    
  </div>

  </div>

  <%- include("footer") -%>